<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }

    #date {
        color: gray;
        font-size: 20pt;
        margin-top: 50px;
    }
</style>

<div>
    <h1>Nordic Watcher</h1><br>
    <p>Here are the spots available for the next 10 days:</p>
    <p> 
        {% autoescape false %}
        {{logs}}
        {% endautoescape %}
    </p>
    <p id="date">
        <script>
            var date = new Date();
            const options = { month: 'short', day: 'numeric' };
            var currentDate = date.toLocaleDateString(undefined, options);
            var currentTime = date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            var lastUpdatedString = "Last updated: " + currentDate + ", " + currentTime;
            document.getElementById("date").innerHTML = lastUpdatedString;
        </script>
    </p>
</div>
