{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %} 

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FZLEG8GZEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FZLEG8GZEV');
</script>

<div>
    <script type="text/javascript">
        window.onload = function() {
            const socket = io();
            let socketId = undefined;
            let progressBarValue = document.getElementById("progressBarValue")
            let progressBar = document.getElementById("progressBar")
            let table = document.getElementById("tableWithAppointments")

            // socket.connect('https://localhost');
            socket.connect('http://nordic-watcher.herokuapp.com');
            socket.on("connect", function() {
                // console.log("Connected")
                socketId = socket.id;
                loadAppointments();
            })
            socket.on("update progress", function(percentage){
                // console.log("Got percent: " + percentage)
                progressBarValue.style.width = percentage + "%"
            })

            function loadAppointments() {
                fetch("/load_appointments/" + socketId, {
                    method: "POST"
                }).then(response => {
                    setTimeout(function() {
                        response.json().then(function(json) {
                            // Generate table using json received:
                            var root = document.getElementById("tableContent");
                            var lastDate = ""
                            var isEven = false
                            if (!root.hasChildNodes()) {
                                json.forEach(function(element) {
                                    var currentDateValue = ""
                                    // Here we hide date if repeated and change color for different days
                                    if (element.date !== lastDate) {
                                        currentDateValue = element.date
                                        isEven = !isEven
                                    } else {
                                        currentDateValue = ""
                                    }
                                    root.insertAdjacentHTML('beforeend', `<tr class="${isEven ? "table-info" : "table-primary" }"><td>${currentDateValue}</td><td class="text-center">${element.time}</td><td class="text-center">${element.numberOfSpots}</td></tr>`);
                                    lastDate = element.date;
                                });
                            }
                        });
                        showTable();
                        progressBarValue.style.width = "0%";
                    }, 0);
                });
            } 

            function showProgress() {
                progressBar.style.display = "flex"
                table.style.display = "none"
            } 

            function showTable() {
                progressBar.style.display = "none"
                table.style.display = "table"
            } 

            showProgress();
        }
    </script>    

    <h1 id="resource-name" class="text-center text-primary mt-2 mb-4">Nordic Watcher</h1>
    <p class="text-center">Here are the spots available for the next 7 days:</p>
    <div class="progress" id="progressBar">
        <div id="progressBarValue" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>      
    <table id="tableWithAppointments" class="table table-responsive-sm table-hover table-borderless mx-auto" >
        <caption id="date">
            <script>
                var date = new Date();
                const options = { month: 'short', day: 'numeric' };
                var currentDate = date.toLocaleDateString(undefined, options);
                var currentHours = ("0" + date.getHours()).slice(-2);
                var currentMinutes = ("0" + date.getMinutes()).slice(-2);
                var currentSeconds = ("0" + date.getSeconds()).slice(-2);
                var currentTime = currentHours + ':' + currentMinutes + ':' + currentSeconds;
                var lastUpdatedString = "Last updated: " + currentDate + ", " + currentTime;
                document.getElementById("date").innerHTML = lastUpdatedString;
            </script>    
        </caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">Date</th>
            <th class="text-center" scope="col">Time</th>
            <th class="text-center" scope="col">№ spots</th>
          </tr>
        </thead>
        <tbody id="tableContent"></tbody>
    </table>
</div>
{% endblock %}
